.nav-wrapper {
    background: #000;
    display: flex;
    border-bottom: 1px solid #898989;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-right {
    display: flex;
}

.searchbar-wrapper {
   position: relative;
}

.searchbar-wrapper #searchBar {
    width: 280px;
    height: 40px;
    padding: 8px 16px;
    padding-left: 57px;
    background: #272727;
    border: none;
    border-radius: 50px;
}

.searchbar-wrapper .searchbar-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}


.searchbar-wrapper input::placeholder {
    color: #898989;
}

#sidebar {
    background-color: #000;
    height: 100vh;
    width: 20vh;
    border-right: 1px solid #898989;
    position: fixed;
    top: 85px;
}

#sidebar .list-sidebar-item {
    display: flex;
    align-items: center;
    padding: 12px;
    padding-left: 40px;
}

#sidebar .list-sidebar-item .list-sidebar-title {
    color: white;
}

#sidebar .list-sidebar-item.item-active {
    border-radius: 0px 40px 40px 0px;
    background:  #6E56E0;
    color: white
}

#notificationBar {
    padding: 24px;
    display: none;
    background: #000;
    border: 1px solid #272727;
    color: white;
    position: fixed;
    right: 0;
    top: 70px;
    height: 100vh;
    width: 20vw;
}

#notificationBar.show {
    display: block;
}

#notificationBar .notification-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notificationBar .notification-bar-item {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background: #1E1E1E;
    border-radius: 12px;
    margin-bottom: 8px;
}
